@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --black:#2c2c56;
}




*{
    font-family:'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s linear;
}
*::selection{
    background: var(--green);
    color: #fff;
}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}



section{
    padding: 2rem 9%;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--green);
    color: #fff;
    padding: .8rem 3rem ;
    text-align: center;
    font-size: 1.7rem;
    cursor: pointer;
}


.btn:hover{
    background: var(--black);
}



.heading{
    text-align: center;
    padding: 1rem;
    color:var(--black);
    text-transform: uppercase;
    font-size: 3.5rem;
    padding-bottom: 2rem;

}
.heading span{

    color:var(--green);
    text-transform: uppercase;
}
.header-1{
    background: #ebe6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

}
.header-1 .logo{
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.logo i{
    padding-right: .5rem;
    color: var(--green);
}
.header-1 .search-box-container{
display: flex;
height: 5rem;
   


}
.header-1 .search-box-container #search-box{
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    border:.1rem solid rgba(0,0,0,0.3);
    text-transform: none;

}
.header-1 .search-box-container label{
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    background: var(--green);
    text-align: center;
    cursor: pointer;
}
.header-1 .search-box-container label:hover{
    background: var(--black);
}
.header-2{
   
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);

    position: static;

  
   
}
.header-2 .active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.header-2 .navbar a{

padding: .5rem 1.5rem;
font-size: 2rem;
border-radius: .5rem;
color: var(--black);
}
.header-2 .navbar a:hover{
    background: var(--green);
    color: #fff;

}
.header-2 .icons a{
    font-size: 2.5rem;
    color: var(--black);
    padding-left: 1rem;
}
.header-2 .icons a:hover{
    color: var(--green);

}
#menu-bar{
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--black);
    padding: .8rem  1.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.home .image{
    flex: 1 1 40rem;
    padding-top: 3rem;
}
.home .content{
    flex: 1 1 40rem;
}
.home .image img{
    width: 100%;
}
.home .content span{
    font-size: 3rem;
    color: #333;
}
.home .content h3{
    font-size: 5rem;
    color: var(--black);
}
.banner-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: 2rem;
}
.banner-container .banner{
    flex: 1 1 40rem;
    overflow: hidden;
    height: 25rem;
    position: relative;
    

}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
}
.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left:4% ;
    transform:translateY(-50%);
}
.banner-container .banner .content h3{
    font-size: 3rem;
    color: var(--black);

}
.banner-container .banner .content p{
    font-size: 2rem;
    color: #333;

}
.banner-container .banner:hover img{
    transform: scale(1.2) rotate(-6deg);   

}


.category .box-container{
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
}
.category .box-container .box{
    border: .1rem solid rgba(0,0,0,0.3);
    border-radius:.5rem ;
    text-align: center;
    padding: 2rem;
    flex: 1 1 25rem;

}
.category .box-container .box img{
    width:20rem ;
    margin: .5rem 0;
    height: 25rem;
}
.category .box-container .box h3{
    font-size: 3.5rem;
    color: var(--black);
}
.category .box-container .box p{
    font-size: 2rem;
    color:#666;
    padding: 5rem 0;
}

.category .box-container .box .btn{
    display: block;
}

.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}
.product .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0,0,0,0.3);
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
  
}
.product .box-container .box img{
    height: 20rem;
}
.product .box-container .box  .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;background: rgba(0,255,0,0.1);
    color: var(--green);
    padding:.7rem 1rem ;
    font-size: 2rem;
}
.product .box-container .box  .icons{
    position: absolute;
    top: .5rem;
    right: -6rem;


}
.product .box-container .box:hover  .icons{
    right:1rem ;
}
.product .box-container .box  .icons a{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    background:rgba(0,0,0,0.05) ;
    border-radius: 50%;
    margin-top:.7rem;
}
.product .box-container .box  .icons a:hover{
    background: var(--green);
    color: #fff;
}
.product .box-container .box  h3{
    color: var(--black);
    font-size: 2.5rem;
}
.product .box-container .box .stars i{
    padding: 1rem .1rem;
    font-size: 1.7rem;
    color: gold;
}
.product .box-container .box .price{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}
.product .box-container .box .price span{
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
}
.product .box-container .box.quality{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom:.5rem ;
}
.product .box-container .box .quality span{
    padding: 0 .7rem;
    font-size: 1.7rem;
}
.product .box-container .box .quality input{
    border: .1rem solid rgba(0,0,0,0.3);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    background: rgba(0,0,0,0.05);

}
.product .box-container .box .btn{
    display: block;
}
.deal{
    background:  url(deal.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}



.deal.content {
    max-width: 50rem;
}
.deal .content .tittle{
    font-size: 4rem;
    color: var(--black);
}

  .deal .content p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1.7rem 0;
  }
  .deal .content .count-down{
    display: flex;
    gap:1rem ;
    padding: .5rem 0;
  }


  .deal .content .count-down .box{
    width: 9rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    border:.1rem solid rgba(0,0,0,0.3);
  }
  .deal .content .count-down .box h3{
    color: var(--black);
    background: #fff;
    height: 7rem;
    line-height: 7rem;
    width: 100%;
    font-size: 5rem;

  }
  .deal .content .count-down .box  span{
    background: var(--black);
    display: block;
    color: #fff;
    width: 100%;
    padding:.5rem ;
    font-size: 2rem;
  }

  .contact form{

    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0,0,0,0.3);
  }
  .contact form .inputbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact form .inputbox input, .contact form  textarea{
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0,0,0,0.3);
    width: 49%;

  }
  .contact form  textarea{
    height: 20rem;
    resize: none;
    width: 100%;
  }



  





.user-form {
    
    position: absolute;
    margin-right: 30%;
    right: 0;
    
    background: #fff;
    padding: 1rem;
    z-index: 1000;
    width: 60rem;

    
   
}

















.form-container {
    
    height: 40rem;
    width:100%;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .title {
    text-align: center;
    font-size: 5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 2rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
    text-align: ali
    ;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
    
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
     cursor: pointer;
     transition: 2s;

  }


  button.sign :hover{
     background: #2c2c56;
     color: #ebe6e6;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  


body{
    height: 10rem;
}


footer {
    background-color: orange;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 30px;
}

.footer-section h2 {
    margin-bottom: 20px;
}

.footer-section p {
    margin: 10px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 40px;
}



@media (max-width:1200px) {
    html{
         font-size:55%;
    }  
}

@media (max-width:991px) {
  .header-1 
  .header-2{
    padding: 2rem;
  }
  section{
    padding: 2rem;
  }
}
@media (max-width:768px){
    #menu-bar{
        display: initial;
    }
       .header-2 .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background: var(--black);
        padding: 1rem 2rem;
        display: none;


       }
       .header-2 .navbar.active{
        display:initial ;
       }

       .header-2 .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: #fff;
        pad: 1rem;
        margin: 1.5rem 0;
       }
       .home .content{
        text-align: center;
       }

       .home .content h3{
        font-size: 4rem;
       }
       .deal{
        background-position: left;
       }
       .deal .content{
        max-width: 100%;
        text-align: center;
       }
       .deal .content .count-down{
        justify-content: center;
       }
       .contact form .inputbox input{
        width: 100%;
       }

}
@media (max-width:450px) {
    html{
         font-size:50%;
    }  


    .headind{
        font-size: 3rem;
    }
    .header-1{
        flex-flow: column;
    }
    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }
    .logo{
        font-size: 4rem;
    }
    .deal .content .count-down .box h3{
        font-size: 4rem;


    }
    .deal .content .count-down .box span{
        font-size: 1.5rem;
    }
   }

   @media (max-width:300px) {
    html{
         font-size:30%;
    }  


    .headind{
        font-size: 1.5rem;
    }
    .header-1{
        flex-flow: column;
    }
    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }
    .logo{
        font-size: 4rem;
    }
    .deal .content .count-down .box h3{
        font-size: 4rem;


    }
    .deal .content .count-down .box span{
        font-size: 1.5rem;
    }
   }


